.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
examples/output/
*.tar.gz
*.Rcheck/
/docs/

# excluded directories
nonpak/
vignettes/*.html
vignettes/*.R
vignettes/*_files/
/vignettes/models/
/doc/
/Meta/
